body {
    background-color: rgb(0, 253, 253);
    color: rgb(255, 0, 221);
    font-family: cursive;
    font-size: 20px;
}

#camera {
    height: 300px;
    width: 350px;
    border: 2px solid black;
}